body {
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h4 {
  margin-bottom: 10px;
}

.row {
  padding: 3rem;
}

.column {
  width: 50%;
  float: left;
}

.info {
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.price {
  font-size: 2rem;
  color: red;
  font-weight: bold;
}

form {
  padding-top: 1rem;
}

form .input,
form .submit {
  padding: 10px;
}

form .submit {
  margin-left: 5px;
}

.img-wrapper {
  position: relative;
}

.balloon-girl {
  width: 19%;
}

.frame {
  width: 25%;
  bottom: -17px;
  left: 37%;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
